{% extends "base.html" %}
{% block title %}Login Page{% endblock %}

{% block content %}
<form action="http://localhost:5000/login" method="post" enctype='multipart/form-data' >
	<br>
	<label>Email</label>
	<input name="uemail"> &puncsp;&puncsp;
	<label>Password</label>
	<input name="upassword">
	<br>
	<h1>Enter up to 5 Email addresses: </h1>
	<input name="email1" placeholder="email-01"> <br>
	<input name="email2" placeholder="email-02"> <br>
	<input name="email3" placeholder="email-03"> <br>
	<input name="email4" placeholder="email-04"> <br>
	<input name="email5" placeholder="email-05"> <br>
	<h1> Choose file to upload: </h1><br>
	<input type="file" name="file1"> <br>
	<input type="submit">
</form>
<a href="http://localhost:5000/register">Register</a>
{% endblock %}